.product-heading-section {
    border-top: 1px solid #ddd;
    position: relative;
    text-align: center;
    padding: 20px;
}

.product-heading-section .product-heading {
    font-size: 38px;
    color: #4c4c4d;
}

.product-heading {
    font-weight: 500;
    line-height: 1.3 !important;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

thead {
    background-color: #dddddd;
}

.canvas-section {
    width: 100%;
    display: flex;
}

.left-section {
    width: 45.83333333%;
    background: rgb(249, 250, 252);
    border-right: 1px solid rgb(237, 238, 240);
    display: block;
    flex: 0 0 45.83333333%;
    position: relative;
    max-width: 100%;
    min-height: 1px;
}

.right-section {
    width: 54.166667%;
}

.left-body {
    display: flex;
    flex-flow: row wrap;
    height: 590px;
    /* height: 62%; */
}

.editor-preview-container {
    width: 547px;
    height: 100%;
    margin: auto;
    max-width: 100%;
    border: 1px dashed black;
}

.canvas-col {
    display: block;
    flex: 0 0 87.5%;
    max-width: 87.5%;
    position: relative;
    max-width: 100%;
    min-height: 1px;
}

.related-img-wrapper {
    display: flex;
    margin: 0 auto;
}

.canvas-body {
    padding: 15px;
    background: rgb(249, 250, 252);
}

.right-inner-section {
    display: flex;
}

.editor-list {
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, .85);
    font-size: 14px;
    line-height: 1.5715;
    list-style: none;
    width: 100%;
}

.upload-custom-design-step {
    color: rgba(0, 0, 0, .85);
    font-size: 14px;
    line-height: 1.5715;
    list-style: none;
    position: relative;
    background: #fff;
    border-radius: 2px;
    border: 1px solid #f0f0f0;
}

.design-heading {
    display: flex;
    width: 100%;
    padding: 0px;
    font-weight: 500;
}

.step-number {
    color: rgb(255, 255, 255);
    padding: 10px 25px;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
    width: 15%
}

.step-number-text {
    padding: 8vh auto;
}

.step-title {
    padding: 0px 20px;
    background: rgb(216, 216, 216);
    align-items: center;
    position: relative;
    display: flex !important;
    width: -webkit-fill-available;
}

.card-body {
    padding: 15px;
    background-color: #fff;
    margin: 1rem;
}

.card-tabs {
    position: relative;
    display: flex;
    flex: none;
    align-items: center;
    padding-right: 1vw;
    margin: 1.2vh 0vw;
}

.tabs {
    position: relative;
    display: flex;
    align-self: stretch;
    overflow-y: hidden;
    scroll-behavior: auto;
    white-space: nowrap;
    transform: translate(0);
    margin-right: 1vh;
}

.tabs::-webkit-scrollbar {
    display: none;
}

.tab-item {
    padding: 10px 20px;
    background: rgb(255, 255, 255);
    display: inline-table;
    margin-inline: 0.1vw;
    border: 2px solid rgb(243, 243, 247);
}

.icons {
    margin-inline: 1vh;
}

.icon-ellipse {
    width: 14px;
    height: 14px;
}

.card-body-image {
    flex: auto;
    min-width: 0;
    min-height: 0;
    overflow-y: scroll;
    background-color: rgb(243, 243, 247);
    padding: 14px 10px;
    height: 286px;
}

.card-content {
    box-sizing: content-box;
    flex-direction: column;
    width: 100%;
    flex: 0 0 33%;
    max-width: 29%;
    margin: 0.5vh;
    line-height: 1.5715;
    position: relative;
    display: inline-block;
    font-weight: 400;
    white-space: nowrap;
    text-align: center;
    box-shadow: 0 2px 0 rgba(0, 0, 0, .015);
    cursor: pointer;
    transition: all .3s cubic-bezier(.645, .045, .355, 1);
    user-select: none;
    padding: 4px 15px;
    font-size: 14px;
    color: rgba(0, 0, 0, .85);
    background: #fff;
    border: 1px solid #d9d9d9;
}

.card-images-one {
    height: 150px;
    width: 100%;
}

.card-images {
    height: 150px;
    width: 100%;
    padding: 10px;
    object-fit: contain;
}

.image-card-item {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.second-width {
    width: 25%;
}
.card-content:hover {
    color: #40a9ff;
    background: #fff;
    border-color: #40a9ff;
}

.stepone-active {
    border: 1px solid red !important;
    color: black !important;
}

.anticon {
    display: inline-block;
    color: inherit;
    font-style: normal;
    line-height: 0;
    text-align: center;
    vertical-align: -0.125em;
}

.tick-active span {
    position: absolute;
    left: 2px;
    top: 2px;
    z-index: 2;
    font-size: 19px;
    color: rgb(255, 255, 255);
}

.tick-active-free span {
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 2;
    font-size: 19px;
    color: rgb(255, 255, 255);
    font-size: 10px;
    font-weight: 500;
    background: green !important;
    line-height: 2;
    border-radius: 2px;
    width: 43px;
}
.point-fabric {
    font-size: 14px;
    border-color: rgb(216, 216, 216);
    background: rgb(240, 241, 247);
    padding: 15px 0px;
    margin-top: 20px;
    line-height: 0;
    width: 97%;
    box-sizing: content-box;
    flex-direction: column;
    flex: 0 0 97%;
    margin: 0.5vh;
    position: relative;
    display: inline-block;
    font-weight: 400;
    white-space: nowrap;
    text-align: center;
    box-shadow: 0 2px 0 rgba(0, 0, 0, .015);
    cursor: pointer;
    transition: all .3s cubic-bezier(.645, .045, .355, 1);
    user-select: none;
    font-size: 14px;
    border: 1px solid #d9d9d9;
}
.anticon-free {
    display: inline-block;
    font-style: normal;
    line-height: 0;
    text-align: center;
    text-transform: none;
    vertical-align: -0.125em;
    background: rgb(106, 162, 55) !important;
    border-color: green;
}
.steptwo-active .tick-active-free::before {
    top: 0px;
    right: 0px;
    background: rgb(106, 162, 55) !important;
    font-size: 10px;
    font-weight: 500;
    z-index: 1;
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-color: green;
    border-width: 20px 42px 0px 0px;
}


.stepfourth-active .tick-active-free::before,
.stepfourth-active .tick-active-free::after,
.stepsixth-active .tick-active-free::before {
    top: 0px;
    right: 0px;
    background: rgb(106, 162, 55) !important;
    font-size: 10px;
    font-weight: 500;
    z-index: 1;
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-color: green;
    border-width: 20px 42px 0px 0px;
}

.stepone-active .tick-active::after {
    top: 0px;
    left: 0px;
    z-index: 1;
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 36px 36px 0px 0px;
    border-color: rgb(228, 32, 27) transparent transparent;
}


.card-body-image-second {
    flex: auto;
    min-width: 0;
    min-height: 0;
    display: flex;
    padding: 14px 10px;
}

.card-content-second {
    box-sizing: content-box;
    flex-direction: column;
    width: 97%;
    flex: 0 0 97%;
    max-width: 97%;
    margin: 0.5vh;
    line-height: 1.5715;
    position: relative;
    display: inline-block;
    font-weight: 400;
    white-space: nowrap;
    text-align: center;
    background-image: none;
    box-shadow: 0 2px 0 rgba(0, 0, 0, .015);
    cursor: pointer;
    transition: all .3s cubic-bezier(.645, .045, .355, 1);
    user-select: none;
    font-size: 14px;
    color: rgba(0, 0, 0, .85);
    background: #fff;
    border: 1px solid #d9d9d9;
}

.image-card-item-second {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.card-images-second {
    height: 150px;
    width: 100%;
    padding: 5px;
    object-position: bottom;
  
}

.shorts-image{
    object-fit: cover;
    object-position: 0 100%;
}
.anticon {
    display: inline-block;
    color: inherit;
    font-style: normal;
    line-height: 0;
    text-align: center;
    vertical-align: -0.125em;
}
.card-content-second:hover {
    color: #40a9ff;
    background: #fff;
    border-color: #40a9ff;
}

.steptwo-active {
    border: 1px solid red !important;
    color: black !important;
}

.steptwo-active .tick-active::after {
    top: 0px;
    left: 0px;
    z-index: 1;
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 36px 36px 0px 0px;
    border-color: rgb(228, 32, 27) transparent transparent;
}
.point-fabric .tick-active::after {
    top: 0px;
    left: 0px;
    z-index: 1;
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 36px 36px 0px 0px;
    border-color: rgb(228, 32, 27) transparent transparent;
}
.card-body-image-third {
    flex: auto;
    min-width: 0;
    min-height: 0;
    padding: 14px 10px;
}

.color-section {
    display: flex;
    flex-direction: row;
}

.outside-jersey {
    width: 48%;
    border: 1px solid rgb(212, 212, 212);
    background: rgb(248, 249, 251);
    text-align: center;
    box-sizing: border-box;
    margin: 0 2px;
    padding: 0;
    color: rgba(0, 0, 0, .85);
    font-size: 14px;
    line-height: 1.5715;
    list-style: none;
    position: relative;
   
    border-radius: 10px;
}

.heading-jersey-color {
    background-color: rgb(216, 216, 216);
    border-radius: 10px 10px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(108, 136, 149);
    font-size: 15px !important;
    border-bottom: 2px solid rgb(212, 212, 212);
    background: rgb(239, 242, 248);
    padding: 5px;
}

.color-selection {
    border-radius: 0px;
    background: rgb(248, 249, 251);
    padding: 15px;
}

.color-list {
    padding: 0px 50px;
}

.color-1 {
    display: inline-block;
    width: 100%;
    text-align: start;
    vertical-align: top;
    margin-bottom: 2px;
}

.inner-color {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, .85);
    font-size: 14px;
    line-height: 1.5715;
    list-style: none;
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
}


.input-color {
    color: rgb(101, 99, 99);
    width: 100%;
    margin-bottom: 0;
    text-align: inherit;
    padding: 6.5px 11px;
    font-size: 16px;
    box-sizing: border-box;
    margin: 0;
    font-variant: tabular-nums;
    list-style: none;
    position: relative;
    display: inline-block;
    width: 100%;
    min-width: 0;
    padding: 4px 11px;
    color: rgba(0, 0, 0, .85);
    font-size: 14px;
    line-height: 1.5715;
    background-color: #fff;
    background-image: none;
    border: 1px solid #d9d9d9;
    transition: all .3s;
}


.input-color[disabled] {
    color: rgba(0, 0, 0, .25);
    background-color: #f5f5f5;
    cursor: not-allowed;
    opacity: 1;
}

.color-addon {
    background: transparent;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    position: relative;
    padding: 0 11px;
    color: rgba(0, 0, 0, .85);
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    background-color: #fafafa;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    transition: all .3s;
    width: 1px;
    white-space: nowrap;
    vertical-align: middle;
}

.color-button {
    min-width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(99, 94, 94, 0.76) 1px 1px;
    border-radius: 1px;
    padding-right: 0;
    padding-left: 0;
    outline: 0;
    line-height: 1.5715;
    position: relative;
    display: inline-block;
    font-weight: 400;
    white-space: nowrap;
    text-align: center;
    background-image: none;
    box-shadow: 0 2px 0 rgba(0, 0, 0, .015);
    cursor: pointer;
    transition: all .3s cubic-bezier(.645, .045, .355, 1);
    user-select: none;
    height: 32px;
    padding: 4px 15px;
    font-size: 14px;
    border-radius: 2px;
    color: rgba(0, 0, 0, .85);
    background: #fff;
    border: 1px solid #d9d9d9;
}

.ant-image {
    position: relative;
    display: inline-block;
}

.ant-image img {
    height: 25px;
    width: 25px;
}

.ant-image-img {
    width: 100%;
    height: auto;
}

.color-section-sidebar {
    display: flex;
    flex-direction: row;
}


.card-body-image-fourth,
.card-body-image-sixth,
.card-body-image-seventh {
    flex: auto;
    min-width: 0;
    min-height: 0;
    padding: 14px 10px;
}

.card-body-image-fifth {
    flex: auto;
    min-width: 0;
    min-height: 0;
    display: flex;
    padding: 14px 10px;
}

.fifth-width {
    width: 25%;
}

.card-content-fourth,
.card-content-sixth {
    box-sizing: content-box;
    flex-direction: column;
    width: 100%;
    display: block;
    flex: 0 0 25%;
    max-width: 25%;
    margin: 0.5vh;
    line-height: 1.5715;
    position: relative;
    display: inline-block;
    font-weight: 400;
    white-space: nowrap;
    text-align: center;
    box-shadow: 0 2px 0 rgba(0, 0, 0, .015);
    cursor: pointer;
    transition: all .3s cubic-bezier(.645, .045, .355, 1);
    user-select: none;
    font-size: 14px;
    border-radius: 2px;
    color: rgba(0, 0, 0, .85);
    background: #fff;
    border: 1px solid #d9d9d9;
}

.image-card-item-fourth,
.image-card-item-fifth,
.image-card-item-sixth {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.card-content-fourth:hover,
.card-content-fifth:hover {
    color: #40a9ff;
    background: #fff;
    border-color: #40a9ff;
}

.stepfourth-active,
.stepfifth-active,
.stepsixth-active {
    border: 1px solid red !important;
    color: black !important;
}

.stepfourth-active .tick-active::after,
.stepfifth-active .tick-active::after,
.stepsixth-active .tick-active::after {
    top: 0px;
    left: 0px;
    z-index: 1;
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 36px 36px 0px 0px;
    border-color: rgb(228, 32, 27) transparent transparent;
}

.card-images-fourth,
.card-images-fifth {
    height: 150px;
    width: 100%;
    object-fit: cover;
}

.card-images-sixth {
    height: 150px;
    width: 100%;
    object-fit: contain;
}

.compare-button {
    display: flex;
    flex-flow: row wrap;
}

.inner-compare-button {
    text-align: center;
    display: block;
    flex: 0 0 50%;
    max-width: 50%;
    position: relative;
    max-width: 100%;
    min-height: 1px;
    padding: 0.25rem !important;
}

.comp-button {
    border-color: #e4201b;
    background: #fff;
    color: #000;
    text-transform: capitalize;
    transition: none;
    font-size: 12px;
    box-shadow: 1px 1px #000;
    border-radius: 5px !important;
    padding: 4px 15px;
    height: unset !important;
    font-size: 14px !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .12);
    line-height: 1.5715;
    position: relative;
    display: inline-block;
    font-weight: 400;
    white-space: nowrap;
    text-align: center;
    user-select: none;
    margin-top: 0.5rem !important;
}

.point-fabric {
    font-size: 14px;
    border-color: rgb(216, 216, 216);
    background: rgb(240, 241, 247);
    padding: 15px 0px;
    margin-top: 20px;
    line-height: 0;
    width: 97%;
    box-sizing: content-box;
    flex-direction: column;
    flex: 0 0 97%;
    margin: 0.5vh;
    position: relative;
    display: inline-block;
    font-weight: 400;
    white-space: nowrap;
    text-align: center;
    box-shadow: 0 2px 0 rgba(0, 0, 0, .015);
    cursor: pointer;
    transition: all .3s cubic-bezier(.645, .045, .355, 1);
    user-select: none;
    font-size: 14px;
    border: 1px solid #d9d9d9;
}

.card-content-fifth {
    box-sizing: content-box;
    flex-direction: column;
    width: 97%;
    flex: 0 0 97%;
    max-width: 97%;
    margin: 0.5vh;
    line-height: 1.5715;
    position: relative;
    display: inline-block;
    font-weight: 400;
    white-space: nowrap;
    text-align: center;
    background-image: none;
    box-shadow: 0 2px 0 rgba(0, 0, 0, .015);
    cursor: pointer;
    transition: all .3s cubic-bezier(.645, .045, .355, 1);
    user-select: none;
    font-size: 14px;
    color: rgba(0, 0, 0, .85);
    background: #fff;
    border: 1px solid #d9d9d9;
}

.chart-button {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translate(-50%, -50%);
    border-color: #e4201b;
    border-radius: 5px;
}

.button-pdf {
    border-color: #e4201b;
    border: 1px solid;
    text-transform: capitalize;
    transition: none;
    font-size: 12px;
    border-radius: 5px;
    font-weight: 500;
    padding-top: 0.1px;
    line-height: 30px;
    line-height: 1.5715;
    position: relative;
    display: inline-block;
    font-weight: 400;
    white-space: nowrap;
    text-align: center;
    cursor: pointer;
    transition: all .3s cubic-bezier(.645, .045, .355, 1);
    user-select: none;
    height: 32px;
    padding: 4px 15px;
    font-size: 14px;
    text-decoration: none;
    color: rgba(0, 0, 0, .85);
    background: #fff;
}

.card-body-image-seventh {
    background: rgb(255, 255, 255);
    padding: 5px 15px 15px;
}

.card-body-image-seventh::before {
    display: table;
    content: "";
    color: rgba(0, 0, 0, .85);
    font-size: 14px;
    line-height: 1.5715;
    list-style: none;
}

.accordian-list {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, .85);
    font-size: 14px;
    line-height: 1.5715;
    list-style: none;
    background-color: #fafafa;
    border: 1px solid #d9d9d9;
    border-bottom: 0;
}

.accordian-one {
    border: 1px solid rgb(216, 216, 216);
    background: linear-gradient(90deg, rgb(232, 232, 232) 0%, rgb(216, 216, 216) 100%);
}

.accordian-header {
    display: flex;
    justify-content: center;
    font-weight: 400;
    position: relative;
    padding: 12px 16px 12px 40px;
    color: rgba(0, 0, 0, .85);
    line-height: 1.5715;
    cursor: pointer;
    transition: all .3s;
}

.accordian-header::before {
    display: table;
    content: "";
    position: relative;
    padding: 12px 16px 12px 40px;
    color: rgba(0, 0, 0, .85);
    line-height: 1.5715;
    cursor: pointer;
}

.collapse-arrow {
    color: inherit;
    font-style: normal;
    line-height: 0;
    text-align: center;
    text-transform: none;
    vertical-align: -0.125em;
    position: absolute;
    top: 17px;
    left: 16px;
    display: inline-block;
    font-size: 12px;
}

.accordian-body {
    color: rgba(0, 0, 0, .85);
    background-color: #fff;
    border-top: 1px solid #d9d9d9;
}

.input-quantity-list {
    display: flex;
    flex-flow: row wrap;
}

.input-quantity-label {
    justify-content: center;
    align-items: center;
    flex: 0 0 25%;
    line-height: 1.5715;
    white-space: normal;
    display: inline-block;
    flex-grow: 0;
    padding: 7px;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 0px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    position: relative;
    max-width: 100%;
    min-height: 1px;
    color: rgb(228, 32, 27);
    font-size: 14px;
}

.input-quantity-label-youth {
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    flex: 0 0 16.6667%;
    max-width: 16.6667%;
    text-align: center;
    line-height: 1.5715;
    display: inline-block;
    flex-grow: 0;
    padding: 7px;
    border-radius: 5px;
    width: 100%;
    text-align: center;
    margin-bottom: 0px;
    white-space: nowrap;
    vertical-align: middle;
    position: relative;
    max-width: 100%;
    min-height: 1px;
    color: rgb(228, 32, 27);
    font-size: 14px;
}

.input-qty {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 32px;
    flex: auto;
    max-width: 97%;
    cursor: pointer;
    color: rgb(0, 0, 0);
    box-sizing: border-box;
    list-style: none;
    position: relative;
    width: 100%;
    min-width: 0;
    color: rgba(0, 0, 0, .85);
    font-size: 14px;
    line-height: 1.5715;
    background-color: #fff;
    transition: all .3s;
    display: inline-block;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
}

.name-table {
    width: 100%;
    text-align: left;
    border-radius: 2px 2px 0 0;
    border-collapse: separate;
    border-spacing: 0;
}

.name-thead {
    border-top-left-radius: 2px;
    padding: 5px 9px !important;
    color: rgba(0, 0, 0, .85);
    font-weight: 500;
    text-align: left;
    background: #fafafa;
    border-bottom: 1px solid #f0f0f0;
}

.copy-button {
    border-color: #e4201b;
    background: #fff;
    color: #000;
    text-transform: capitalize;
    transition: none;
    font-size: 12px;
    box-shadow: 1px 1px #000;
    border-radius: 5px !important;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .12);
    height: 24px;
    padding: 0 7px;
    line-height: 1.5715;
    position: relative;
    display: inline-block;
    font-weight: 400;
    white-space: nowrap;
    text-align: center;
}

.serial-number {
    padding: 0px 9px;
    border-bottom: 1px solid #f0f0f0;
}

.size-number {
    padding: 0px 9px;
    text-align: center;
    box-sizing: border-box;
    overflow-wrap: break-word;
    border-bottom: 1px solid #f0f0f0;
    background-color: rgb(255, 255, 255);
}

.team-input,
.player-input,
.player-numb-input {
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid #f0f0f0;
    overflow-wrap: break-word;
    text-align: center;
    margin: 0px;
    box-sizing: border-box;
    color: rgba(0, 0, 0, .85);
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.team-name-input,
.player-name-input,
.player-number-input {
    border: none;
    text-align: center;
    box-sizing: border-box;
    margin: 0;
    list-style: none;
    position: relative;
    display: inline-block;
    width: 100%;
    min-width: 0;
    padding: 6px 11px;
    color: rgba(0, 0, 0, .85);
    font-size: 14px;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    transition: all .3s;
}

.delete-button {
    padding: 0px 2px 0px 0px !important;
    background: #fff;
    text-align: center !important;
}

.delete-button-inner {
    line-height: 1.5715;
    position: relative;
    font-weight: 400;
    white-space: nowrap;
    text-align: center;
    height: 24px;
    padding: 0 7px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    font-size: 11px;
    border-radius: 5px;
    background: #fff;
    color: #000;
    border: none;
}

.konva-image{
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
}